
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws

npm-debug.log
yarn-debug.log
yarn-error.log

#project specific
server/node_modules
server/output/*
server/package-lock.json
node_modules/
apps/esdata/*
a11y-report-parser/bulk-upload-*
