logs
project/project
project/target
target
lib_managed
tmp
.history
dist
.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
**/.DS_Store

# project specific
test/elk-stack/esdata/*
docker/files/app
app/node_modules
app/output
app/pages
app/accessibility-assessment-service.log
output/
