* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.summary {
  background: #e3e3e3;
  max-width: 800px;
  border-bottom: 1px solid black;

  dl {
    margin: 0;
    padding: 0;

    &:nth-child(even) {
      dd,
      dt {
        background: #f3f3f3;
      }
    }

    dd,
    dt {
      display: inline-block;
      border: 1px solid black;
      border-bottom: 0 none;
      margin: 0;
      padding: 0.3em;
    }

    dt {
      width: 40%;
      border-right: 0 none;
    }

    dd {
      width: 60%;
    }
  }
}

.violations {
  .alert,
  .code,
  .severity {
    // 32%
    width: 5%;
  }

  .path {
    // 44%
    width: 12%;
  }

  .info,
  .snippet {
    width:((8%*4+12)/2)// 69%

    pre {
      width: auto;
      max-width: 100%;
    }
  }

  .description {
    width: ((8%*4+12)/2);
  }
}

.js-enabled {
  .hidden-waiting-for-tab-activation {
    display: none;
  }
}

.tabs {
  ul {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    list-style: none;

    .tab {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0 5px 0 0;

      a:active,
      a:hover,
      a:link,
      a:visited {
        display: inline-block;
        padding: 8px 15px;
        color: black;
        border: 2px solid black;
        border-bottom: 0 none;
        margin: 0;
        text-decoration: none;
        font-weight: bold;
      }

      &.tab--active {
        a:active,
        a:hover,
        a:link,
        a:visited {
          background: #e3e3e3;
        }
      }
    }
  }
}
